{% extends 'layout.html.jinja2' %}

{% block content %}
  <p>Welcome to the home of MeiMei, the AI that can spot cats!</p>
  <h1>Upload an image</h1>
  <form method='post' action='/' enctype='multipart/form-data'>
    <input type='file' name='file' accept='image/png, image/jpeg'>
    <input type='submit' value='Upload'>
  </form>
  <p>This picture is {{prediction}}!</p>
{% endblock %}
